/* MAIN PAGE  */
/* 
* {
    outline: 1px solid red;
} */

.main-head {
    padding-top: 60px;
}

.profile-pic {
    width: 150px;
    box-shadow: 2px 4px 4px;
}

ul {
    list-style-type: none;
    text-align: center;
}

/* GALLERY */

.gallery {
    margin-top: 45px;
}

.gallery img {
    margin-bottom: 5px; 
    margin-left: 5px;
    border-radius: 5px;
    width: 350px; 
    height: 275px;
    object-fit: cover;
}

.gallery h2 {
    padding-bottom: 20px;
}

/* IMG hover animations  */

.gallery img:hover {
    opacity: 0.5;
    transition:all 1s ease;
}

/* fade at the bottom of page */
.gallery:after {
  content  : "";
  position : absolute;
  z-index  : 1;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom, 
                    rgba(255,255,255, 0), 
                    rgba(255,255,255, 1) 90%);
  width    : 100%;
  height   : 10em;
}
/* /fade */

.other-content {
    text-align: center;
    width: auto;
}

.other-content a,
.contact-link a {
    color: #2f2f2f;
}

/* CONTACT link */

.contact-link {
    text-align: center;
    padding-top: 20px; 
    padding-bottom: 30px;
}


.contact-link:hover {
    text-decoration: underline;
}

#contactClick {
    display: none; 
    font-size: 8px; 
    margin-top: 5px; 
    padding: 5px; 
}

#hoverContact:hover #contactClick {
    display: block;
}

/* CONTACT PAGE */

.contactHeader {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.contactHeader h1 {
    color: #2f2f2f;
    font-size: 36px;
}

.contactHeader p {
    color: #2f2f2f; 
    font-size: 12px; 
}

/* CONTACT PAGE FORM  */

.form {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

input {
    width: 100%;
    margin: 20px 0; 
    background: rgba(0,0,0,0);
    border: none; 
    border-bottom: 1px solid #2f2f2f;
}

#msg {
    margin-top: 60px;
}

::-webkit-input-placeholder {
    color: #2f2f2f;
    font-size: 12px;
    letter-spacing: 2px;
}

button {
    border-radius: 5px;
    border: none;
    font-size: 36px;
    text-decoration: none;
    color: #fff;
    background-color: #55acee;
    /* box-shadow: 0px 5px 0px 0px #3C93D5; */
    font-family: 'Open Sans', 'sans-serif';
}

/* FOOTER */

.page-footer a {
    text-color: #2f2f2f; 
    text-decoration: none;
}

    


